<div id="article-{{this.id}}">
<h1 class="text-center border-bottom fst-italic mb-4 pb-4">{{this.articleName}}</h1>
<article class="d-flex justify-content-center">
    <p class="w-50" style="white-space: pre-wrap" >{{this.contents}}</p>
    
    </article>
 



    </div>