
    <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadom-sm h-md-250 postion-relative">
            <div class="col p-4 d-flex flex-column postion-static">
                <strong class="d-inline-block mb-2 text-primary">Placeholder</strong>
                <h3 class="mb-0">{{this.articleName}}</h3>
                <div class="mb-1 text-muted">Date Placeholder</div>
                <p class="card-text mb-auto">{{this.articleSummary}}</p>
                <a href="/articles/{{this.id}}" >Continue reading</a>
            </div>
            <div class="col-auto d-none d-lg-block">
                <img src={{this.imageUrl}}>
            </div>
        </div>
    </div>

