<!doctype html>
<html lang="en">
<head>
    <title>Our Funky HTML Page</title>
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <link rel="stylesheet" href="index.css">
    {{!-- <style>p {white-space: pre-wrap}</style> --}}
   
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">



</head>
<body>

{{{body}}}
</body>
</html>
